* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: cyan;
}

.section {
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  padding: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 50px;
  margin-bottom: 30px;
  color: rgb(218, 20, 204);
}

.accordion {
  width: 60%;
  height: 60%;
  text-align: justify;
}

.accordion-item {
  font-size: 20px;
  padding: 30px;
  border: 1px solid rgb(60, 28, 5);
}

.accordion-title {
  display: flex;
  justify-content: space-between;
}

.accordion-title h3{
  color: brown;
  cursor: pointer;
}

.accordion-title i{
  font-size: 30px;
  cursor: pointer;
}

.accordion-item .active i {
  transform: rotate(180deg);
}

.accordion-title + .accordion-content {
  display: none;
}

.accordion-title.active + .accordion-content {
  display: block; 
  padding-top: 20px;
  color: chocolate;
}